@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

:root {
    --primary-color: #260101;
    --secondary-color: #73341D;
    --tertiary-color: #BFBFBF;
    --fourth-color: #8C4E2A;
    --fifth-color:  #D98D62;
    --text-cotiza: #dc3545;
    --white--color: #ffffff;
    --grey-color: #fafafa;
    --other-grey: #767171;
    --cotiza-blue: #4169E1;
    --footer-color: #2E2E2E;
    --title-font: 'Lato', sans-serif;
    --text-font: 'Cairo', sans-serif;
    --scroll-effect: smooth;
}

html {    
    scroll-behavior: var(--scroll-effect);
}

body {
    position: relative;
    background-color: var(--grey-color);
}

/* Form */

.container__box {
    width: 100%;
    height: 100vh;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-image: url(/img/pexels-chaabani-mohamed-dhia-281513.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;      
}

.container__box h3 {
    font-size: 30px;
    font-family: var(--text-font);
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px var(--primary-color);
    color: var(--grey-color);
}

form {    
    width: 350px;
    display: flex;    
    flex-direction: column;
    padding: 30px 12px;
    width: 90%;
    max-width: 400px;
    background-color: rgba(38,1,1,.65);
    color: var(--grey-color);
    box-shadow: 2px 2px 2px 0 var(--primary-color);
}

label {
    font-size: 18px;
    font-family: var(--title-font);
    font-weight: bold;
    color: var(--grey-color);
    padding: 0 15px;
    text-shadow: 2px 2px 3px var(--primary-color);
}

form input, form textarea {
    border: 0;
    margin: 10px 10px;
    padding: 5px 10px;    
    font-size: 16px;
    font-family: var(--text-font);
    background: #eeeeee;
    transition: box-shadow 0.3s ease-in-out;
    outline: none;
    border-radius: 7px;
}

input[type=text]:focus { 
    outline: 2px solid var(--cotiza-blue); 
    box-shadow: 2px 2px 1px var(--primary-color);
}
    

textarea:focus {
    outline: 2px solid var(--cotiza-blue);
    box-shadow: 2px 2px 1px var(--primary-color);
}    

form textarea {
    resize: none;
}

form button {
    width: 150px;
    margin: 20px auto;
    cursor: pointer;
    padding: 10px;
    background-color: var(--fourth-color);
    color: var(--grey-color);
    font-family: var(--title-font);
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: 0;
    box-shadow: 2px 2px 2px var(--primary-color);
    transition: .3s ease-in;
}

form button:hover {
    background-color: var(--text-cotiza);
}

/* End Form */

/* Social Icons */

.whatsapp-con {
    position: fixed;    
    right: 0.5%;
    bottom: 10px;
}

.face-con {
    position: fixed;    
    right: 0.5%;
    bottom: 52px;
}

.whatslink, .fblink {
    cursor: pointer;   
}

.whatslink .whats {
    transition: transform .3s ease-out;
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out;
}

.fblink .fb {
    transition: transform .3s ease-out;
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out;
}

.whatslink .whats:hover {
    transform: translateX(-15%);
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
}

.fblink .fb:hover {
    transform: translateY(-15%);
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
}

.whats {
    width: 40px;
    display: block;
    filter: drop-shadow(0 2px 2px var(--primary-color));    
}

.fb {
    width: 40px;
    display: block;
    filter: drop-shadow(0 2px 2px var(--primary-color));
}

/* End Social Icons */



